.formcontainer{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    
    background-color: rgb(210, 213, 213);
}
.item{
    
    height: 50px;
    margin: 5px;
    font-size: 15px;
    

}
.container input {
  
    width: 5000px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

}
.head{
    background-color:  #004D00;
    display: fles;
    height: 100px;
    text-align: center;
    flex-direction: center;
    justify-content: center;
    color: white;
    padding-top: 20px;

}